<header class="header-sales-index">
  <div class="container">

    <div class="row">
      <div class="form-group form-group-lg">
        <%= form_tag(import_csv_sales_path, id: "import_sale_csv", multipart: true) do %>
          <div class="input-group">
            <input type="text" class="form-control" readonly>
            <label class="input-group-btn">
              <span class="btn btn-lg btn-primary">
                Selecionar&hellip; <%= file_field_tag :file, id: "sale_csv_input", style:"display: none;" %>
              </span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-10">
            <% if flash[:error].present? %>
              <div id="activity_error" class="alert alert-danger alert-white rounded">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                <i class="glyphicon glyphicon-exclamation-sign"></i><strong class='padding-error'>ERRO!</strong>
                <span id='error-msg'><%= flash[:error] %></span>
              </div>
            <% end %>
          </div>

          <div class="col-sm-12 col-md-2">
            <div class="pull-right-md text-center-sm">
              <%= button_tag(type: "submit", class: "btn btn-lg btn-success", id: "submit_sale_file") do %>
                <i class="glyphicon glyphicon-upload"></i> IMPORTAR
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    </div>

  </div>
</header>

<section class="container main-container">
  <div class="col-sm-12 col-md-6">
    <h1 class="text-center-sm">Produtos Vendidos</h1>
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class="pull-right price">Total
      <span class="currency"><%= humanized_money_with_symbol @total_sale_amount %></span>
    </h1>
  </div>

  <div class="col-sm-12">
  <div class="table-responsive">
    <table class="table-fill" id="sales_table">
      <thead>
        <tr>
          <th class="text-left">Comprador</th>
          <th class="text-left">Descrição</th>
          <th class="text-left">Preço Uniário</th>
          <th class="text-left">Quantidade</th>
          <th class="text-left">Endereço</th>
          <th class="text-left">Fornecedor</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <% @sales.each do |sale| %>
          <%= render partial: 'sale', locals: { sale: sale } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= paginate @sales %>
  </div>
</div>
</section>
