<section class="jumbotron main-header">
  <div class="container">
    <%= form_tag(import_csv_sales_path,  multipart: true) do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Submit' %>
    <% end %>

    <% if flash[:error].present? %>
      <div id="activity_error" class="alert alert-danger alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <strong>Error!</strong>
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
</section>

<section class="container">
  <div class="col-sm-12 col-md-6">
    <h1 class="text-center-sm">Produtos Vendidos</h1>
  </div>
  <div class="col-sm-12 col-md-6">
    <h1 class="pull-right price">Total
      <span class="currency"><%= humanized_money_with_symbol @total_sale_amount %></span>
    </h1>
  </div>

  <div class="col-sm-12">
  <div class="table-responsive">
    <table class="table-fill">
      <thead>
        <tr>
          <th class="text-left">Comprador</th>
          <th class="text-left">Descrição</th>
          <th class="text-left">Preço Uniário</th>
          <th class="text-left">Quantidade</th>
          <th class="text-left">Endereço</th>
          <th class="text-left">Fornecedor</th>
        </tr>
      </thead>
      <tbody class="table-hover">

        <% @sales.each do |sale| %>
          <%= render partial: 'sale', locals: { sale: sale } %>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

<%= paginate @sales %>
</section>
